// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "true",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "playerDisplay": "LargeDots",
  "playerDisplayScale": "0.5",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeDots",
  "mobDisplayScale": "0.5",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "false",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "1",
  "configVersion": "5.7.3"
}